<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>type</key>
		<string></string>
		<key>title</key>
		<string>品牌选车</string>
		<key>url</key>
		<string>http://mi.xcar.com.cn/interface/xcarapp/getBrands.php</string>
	</dict>
	<dict>
		<key>type</key>
		<string></string>
		<key>title</key>
		<string>条件选车</string>
		<key>url</key>
		<string></string>
	</dict>
</array>
</plist>
