<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>type</key>
		<string>1</string>
		<key>title</key>
		<string>最新</string>
		<key>url</key>
		<string>a.xcar.com.cn/interface/6.0/getNewsList.php</string>
	</dict>
	<dict>
		<key>type</key>
		<string>2</string>
		<key>title</key>
		<string>新闻</string>
		<key>url</key>
		<string>http://a.xcar.com.cn/interface/6.0/getNewsList.php</string>
	</dict>
	<dict>
		<key>type</key>
		<string>4</string>
		<key>title</key>
		<string>导购</string>
		<key>url</key>
		<string>http://a.xcar.com.cn/interface/6.0/getNewsList.php</string>
	</dict>
	<dict>
		<key>type</key>
		<string>5</string>
		<key>title</key>
		<string>行情</string>
		<key>url</key>
		<string>http://a.xcar.com.cn/interface/6.0/getNewsList.php</string>
	</dict>
	<dict>
		<key>url</key>
		<string>http://a.xcar.com.cn/interface/6.0/getNewsList.php</string>
		<key>title</key>
		<string>测评</string>
		<key>type</key>
		<string>3</string>
	</dict>
	<dict>
		<key>type</key>
		<string>83757</string>
		<key>title</key>
		<string>改装升级</string>
		<key>url</key>
		<string>http://mi.xcar.com.cn/interface/xcarapp/getdingyue.php</string>
	</dict>
	<dict>
		<key>type</key>
		<string>8</string>
		<key>title</key>
		<string>新车谍照</string>
		<key>url</key>
		<string>http://mi.xcar.com.cn/interface/xcarapp/getdingyue.php</string>
	</dict>
	<dict>
		<key>type</key>
		<string>76392</string>
		<key>title</key>
		<string>SUV对比</string>
		<key>url</key>
		<string>http://mi.xcar.com.cn/interface/xcarapp/getdingyue.php</string>
	</dict>
	<dict>
		<key>type</key>
		<string>3</string>
		<key>title</key>
		<string>新车上市</string>
		<key>url</key>
		<string>http://mi.xcar.com.cn/interface/xcarapp/getdingyue.php</string>
	</dict>
	<dict>
		<key>type</key>
		<string>76395</string>
		<key>title</key>
		<string>购车技巧</string>
		<key>url</key>
		<string>http://mi.xcar.com.cn/interface/xcarapp/getdingyue.php</string>
	</dict>
	<dict>
		<key>type</key>
		<string>4</string>
		<key>title</key>
		<string>新技术</string>
		<key>url</key>
		<string>http://mi.xcar.com.cn/interface/xcarapp/getdingyue.php</string>
	</dict>
	<dict>
		<key>type</key>
		<string>6</string>
		<key>title</key>
		<string>新能源车</string>
		<key>url</key>
		<string>http://mi.xcar.com.cn/interface/xcarapp/getdingyue.php</string>
	</dict>
	<dict>
		<key>type</key>
		<string>18534</string>
		<key>title</key>
		<string>概念车</string>
		<key>url</key>
		<string>http://mi.xcar.com.cn/interface/xcarapp/getdingyue.php</string>
	</dict>
	<dict>
		<key>type</key>
		<string>1</string>
		<key>title</key>
		<string>油价变动</string>
		<key>url</key>
		<string>http://mi.xcar.com.cn/interface/xcarapp/getdingyue.php</string>
	</dict>
	<dict>
		<key>type</key>
		<string>1540</string>
		<key>title</key>
		<string>奇闻车事</string>
		<key>url</key>
		<string>http://mi.xcar.com.cn/interface/xcarapp/getdingyue.php</string>
	</dict>
	<dict>
		<key>type</key>
		<string>20</string>
		<key>title</key>
		<string>多车对比</string>
		<key>url</key>
		<string>http://mi.xcar.com.cn/interface/xcarapp/getdingyue.php</string>
	</dict>
	<dict>
		<key>type</key>
		<string>39937</string>
		<key>title</key>
		<string>国内赛事</string>
		<key>url</key>
		<string>http://mi.xcar.com.cn/interface/xcarapp/getdingyue.php</string>
	</dict>
	<dict>
		<key>type</key>
		<string>985</string>
		<key>title</key>
		<string>汽车音响</string>
		<key>url</key>
		<string>http://mi.xcar.com.cn/interface/xcarapp/getdingyue.php</string>
	</dict>
	<dict>
		<key>type</key>
		<string>2</string>
		<key>title</key>
		<string>车辆召回</string>
		<key>url</key>
		<string>http://mi.xcar.com.cn/interface/xcarapp/getdingyue.php</string>
	</dict>
	<dict>
		<key>type</key>
		<string>28</string>
		<key>title</key>
		<string>对比汽车</string>
		<key>url</key>
		<string>http://mi.xcar.com.cn/interface/xcarapp/getdingyue.php</string>
	</dict>
</array>
</plist>
